# Criação de Função para prever dados da MegaCena
- Feito para prever qual será os números da proxima MegaSena usando os números passados como base
- esse código não possui função real ou uma projeção veridica, tudo foi por divertimento pessoal

In [26]:
# Estrutura do cod
# 1 - Ler dados armazenados na tabela
# 2 - Limpa esses dados
# 3 - Converte os dados
# 4 - verifica se funcionou a converção
# 5 - treina a IA
# 6 - verifica o treino
# 7 - Faz a previsão real
# 8 - Mostra infos(sei o que é)

print("hello World")
print("Bem vindo ao teste de performace do Mega Sena da Virada")
print("Lembrando que fiz isso por diverção")

hello World
Bem vindo ao teste de performace do Mega Sena da Virada
Lembrando que fiz isso por diverção

## Fatores influentes para a Mega Sena
**Esses fatores foram gerados pela IA e então analizados por mim**

### Fatores numéricos baseados em padrões históricos:
1. Número Sorteado Mais Recente: Último número sorteado.
2. Frequência de Sorteio (Histórico): Quantas vezes cada número já foi sorteado.
3. Atraso do Número: Quantidade de sorteios desde a última vez que um número foi sorteado.
4. Soma dos Números Sorteados: Soma dos números no último sorteio.
6. Números Altos/Baixos: Proporção de números acima e abaixo de 30 (ponto médio do intervalo 01–60).

### Fatores temporais:
7. Data do Sorteio: Dia, mês ou até eventos relevantes na data.
8. Número do Sorteio: Sequência histórica do sorteio (e.g., sorteio 2674).
9. Período do Ano: Época do ano em que o sorteio aconteceu (início, meio ou fim).

### Fatores teóricos:
10. Números Primos no Sorteio: Quantidade de números primos sorteados.
11. Múltiplos de 3 ou 5: Presença de múltiplos de números-chave.
12. Sequências Numéricas: Ocorrência de sequências consecutivas.

### Fatores externos:
13. Valor Acumulado do Prêmio: Se o prêmio acumulado é alto ou baixo.
14. QTD de ganhadores de 4 numb
15. QTD de ganhadores de 5 numb
16. QTD de ganhadores de 6 numb

17. Distribuição Pares/Ímpares: Proporção de números pares e ímpares sorteados.
- impares
- pares

In [27]:
import pandas as pd

# abrindo a tabela inicial, para armazenar os valores sem alteração

# $$ Resultados_Passados.xlsx $$

#Concurso
#Data
#numb 1
#numb 2
#numb 3
#numb 4
#numb 5
#numb 6

table_mean = pd.read_excel("Resultados_Passados.xlsx")
display(table_mean)

      Concurso        Data  numb 1  numb 2  numb 3  numb 4  numb 5  numb 6
0         2809  17/12/2024       4      39       2      34      28      15
1         2808  14/12/2024      10      46      41      35      24      33
2         2807  12/12/2024       8      55      25      52      56      49
3         2806  10/12/2024      33      46      45      13       5      11
4         2805  07/12/2024      58      24       1      55      47       6
...        ...         ...     ...     ...     ...     ...     ...     ...
2804         5  08/04/1996       1      19      46       6      16       2
2805         4  01/04/1996       6      59      42      27       1       5
2806         3  25/03/1996      36      30      10      11      29      47
2807         2  18/03/1996       9      39      37      49      43      41
2808         1  11/03/1996      41       5       4      52      30      33

[2809 rows x 8 columns]

In [28]:
# verificar se temos valores vazios ou valores reconhecidos em formato errado
print(table_mean.info())
print(table_mean.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2809 entries, 0 to 2808
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Concurso  2809 non-null   int64
 1   Data      2809 non-null   object
 2   numb 1    2809 non-null   int64
 3   numb 2    2809 non-null   int64
 4   numb 3    2809 non-null   int64
 5   numb 4    2809 non-null   int64
 6   numb 5    2809 non-null   int64
 7   numb 6    2809 non-null   int64
dtypes: int64(7), object(1)
memory usage: 175.7+ KB
None
Index(['Concurso', 'Data', 'numb 1', 'numb 2', 'numb 3', 'numb 4', 'numb 5',
       'numb 6'],
      dtype='object')

In [29]:
# Convertendo a coluna de strings para datetime
table_mean['Data'] = pd.to_datetime(table_mean['Data'], format='%d/%m/%Y')


# Criar a tabela tabel_Mod com as colunas desejadas
tabel_mod = pd.DataFrame()

# Preencher a tabela tabel_Mod com os dados necessários
tabel_mod['Concurso'] = table_mean['Concurso']
tabel_mod['numb 1'] = table_mean['numb 1']
tabel_mod['numb 1'] = table_mean['numb 1']
tabel_mod['numb 1'] = table_mean['numb 1']
tabel_mod['numb 2'] = table_mean['numb 2']
tabel_mod['numb 3'] = table_mean['numb 3']
tabel_mod['numb 4'] = table_mean['numb 4']
tabel_mod['numb 5'] = table_mean['numb 5']
tabel_mod['numb 6'] = table_mean['numb 6']

# Extrair ano, mês e dia da coluna 'Data'
tabel_mod['Ano'] = table_mean['Data'].dt.year
tabel_mod['Mes'] = table_mean['Data'].dt.month
tabel_mod['Dia'] = table_mean['Data'].dt.day

colunas = ['numb 1', 'numb 2', 'numb 3', 'numb 4', 'numb 5', 'numb 6']

# Contar pares e ímpares
tabel_mod['QTD par'] = (tabel_mod[colunas] % 2 == 0).sum(axis=1)
tabel_mod['QTD pri'] = (tabel_mod[colunas] % 2 != 0).sum(axis=1)

# Reorganizar as colunas na ordem desejada
tabel_mod = tabel_mod[['Concurso', 'Ano', 'Mes', 'Dia', 'numb 1', 'numb 2', 'numb 3', 'numb 4', 'numb 5', 'numb 6', 'QTD pri', 'QTD par']]



print("Tabela 'tabel_Mod' criada com sucesso!")

display(tabel_mod)

Tabela 'tabel_Mod' criada com sucesso!

,Concurso,Ano,Mes,Dia,numb 1,numb 2,numb 3,numb 4,numb 5,numb 6,QTD pri,QTD par
0,2809,2024,12,17,4,39,2,34,28,15,2,4
1,2808,2024,12,14,10,46,41,35,24,33,3,3
2,2807,2024,12,12,8,55,25,52,56,49,3,3
3,2806,2024,12,10,33,46,45,13,5,11,5,1
4,2805,2024,12,7,58,24,1,55,47,6,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...
2804,5,1996,4,8,1,19,46,6,16,2,2,4
2805,4,1996,4,1,6,59,42,27,1,5,4,2
2806,3,1996,3,25,36,30,10,11,29,47,3,3
2807,2,1996,3,18,9,39,37,49,43,41,6,0
2808,1,1996,3,11,41,5,4,52,30,33,3,3

In [30]:
# criando ambiente para IA

In [59]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import numpy as np


# Preparar os dados para o modelo
# Vamos usar os números sorteados como variáveis de saída (y) e as características como variáveis de entrada (X)
X = tabel_mod.drop(['numb 1', 'numb 2', 'numb 3', 'numb 4', 'numb 5', 'numb 6'],axis=1)
y = tabel_mod[['numb 1', 'numb 2', 'numb 3', 'numb 4', 'numb 5', 'numb 6']]

# Dividir os dados em conjuntos de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Treinar um modelo para cada número
modelos = []
for i in range(6):
    modelo = RandomForestClassifier()
    modelo.fit(X_train, y_train.iloc[:, i])
    modelos.append(modelo)

# Prever os números para o dia 31/12/2024
data_previsao = pd.DataFrame({'Ano': [2024], 'Mes': [12], 'Dia': [17]})

table_new = pd.read_excel("new.xlsx")

previsoes = []
for modelo in modelos:
    previsao = modelo.predict(X_test)
    previsoes.append(previsao[0])
    

print("Previsões para os números sorteados em 31/12/2024:", previsoes)

colunas = list(X_test.columns)
importancia = pd.DataFrame(index=colunas, data=modelo.feature_importances_)
importancia = importancia * 100
print(importancia)



# Filtrar a linha correspondente à data desejada
data_desejada = pd.to_datetime(f"{data_previsao['Ano'][0]}-{data_previsao['Mes'][0]}-{data_previsao['Dia'][0]}")
linha_desejada = table_mean[table_mean['Data']==data_desejada]
col = ['numb 1', 'numb 2', 'numb 3', 'numb 4', 'numb 5', 'numb 6']
# Comparar os valores em previsoes com a linha desejada
qtd_corretas = linha_desejada[col].isin(previsoes).sum(axis=1).values[0] if not linha_desejada.empty else 0

# Exibir os resultados
print("Linha correspondente à data desejada:")
print(linha_desejada)
print(f"\nQuantidade de combinações corretas: {qtd_corretas}")

Previsões para os números sorteados em 31/12/2024: [30, 53, 26, 11, 37, 12]
                  0
Concurso  31.780471
Ano       18.702846
Mes       18.992676
Dia       25.340534
QTD pri    2.544460
QTD par    2.639013
Linha correspondente à data desejada:
    Concurso       Data  numb 1  numb 2  numb 3  numb 4  numb 5  numb 6
16      2793 2024-12-17       7      59      37      57       9      25

Quantidade de combinações corretas: 1